/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box; /* Includes padding in width calculation */
    transition: transform 0.3s ease-in-out; /*slide-in and slide-out effect */
    z-index: 1000; /* Sstays on top of other elements */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.navbar.hidden {
    transform: translateY(-100%); /* Slide out of view */
}


.hamb {
    font-size: 20px;
}

.right-menu {
    display: flex;
}

.right-menu img {
    height: 30px;
}

/* Menu Styles */
.menu {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 15px;
    padding: 5px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.menu ul li a:hover {
    background-color: #555;
    border-radius: 15px;
}